// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}


.board {
  border: 5px solid black;
  min-height: 600px;
  padding: 1em;
}

div.new_place {
  display: none;
}

.board-index {
  border: 5px solid black;
  max-height: 300px;
  min-height: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px;
}

.tiny {
  max-width: 65px;
  max-height: 65px;
}
.placeholder {
  visibility: hidden;
}
