<h1>Places Index</h1>

<% @places.each do |place| %>
  <ul>
    <li><%= link_to place.name, place %></li>
  </ul>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
    function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUatW5nPPT-Qu0IHkoVShbb7ioXbRIn9c&callback=initMap">
    </script>
  </body>
</html>
